<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="OceanScrap.Properties.Settings.ocean_connection" connectionString="Server=DESKTOP-RIDEG5H;Database=prueba;Trusted_Connection=True;"
            providerName="" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>

</configuration>